# Base de datos
MYSQL_ROOT_PASSWORD=root
DB_NAME=innovatech_db

# Puerto expuesto del frontend (solo servicio público)
FRONTEND_PORT=80

# AWS / ECR (para despliegue)
AWS_REGION=us-east-1
PROJECT_NAME=innovatech
