# Copia este archivo como terraform.tfvars y completa los valores
# terraform.tfvars NO se sube a Git (contiene secretos)

db_password            = "tu_contrasena_mysql"
db_name                = "innovatech_db"
project_name           = "innovatech"
aws_region             = "us-east-1"
autoscaling_target_cpu = 50
service_desired_count  = 1
service_max_count      = 3
